.CompReactImageFieldControl {
    float: left;
    width: 45%;
    height: 45%;
    margin-right: 2%; 
    background: url('./logo.png') no-repeat;
    background-size: 100%;
    background-position: 60% 25%;
    border: 4px solid rgb(73, 151, 230);
    border-radius: 50%;    
    margin-left: 80px;    
    
}