.CompReactSelectFieldControl {
    float: left;
    width: 100%;
}

.CompReactSelectFieldControl .CompReactSelectFieldControlInput {
    padding: 5px 5px 5px 5px;
}

.CompReactSelectFieldControl .CompReactSelectFieldControlInput select {
    font-family: "Poppins", sans-serif;
    padding: 5px 5px 5px 5px;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
    border-color: #81beeb;
    color: #7e858c;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: "Light";
    outline: 0;
}

.CompReactSelectFieldControl .CompReactSelectFieldControlLabel {
    font-family: "Poppins", sans-serif;
    padding: 10px 5px 0px 5px;
    font-size: 17px;
    letter-spacing: 1px;
    color: #575757;
    font-weight: "Light";
}

.CompReactSelectFieldControl .CompReactSelectFieldControlInput select focus {
    background-color: #f3f8f0;
    color: #6599ad;
}

.CompReactSelectFieldControl
    .CompReactSelectFieldControlInput
    select::-webkit-input-placeholder {
    color: #6599ad;
}
